   .left_guideindex {
   float: left;
}

   .right_guideindex {
   float: right;
   margin-right: 2px;
}

   .guideindexbg {
   width: 318px;
   background-repeat: no-repeat;
   background-position: right top;
   -moz-border-radius: 30px;
   -webkit-border-radius: 30px;
   border-radius: 30px;   
}

   .guideindex {
   width: 318px;
   border-color: #8c8c8c;
   border-width: 1px;
   border-style: solid;
   background-image: url(../images/guidebgs/guideindexbg1.png);   
   -moz-border-radius: 30px;
   -webkit-border-radius: 30px;
   border-radius: 30px;        
   margin-bottom: 20px;
}

   .guideindex_contents {
   margin-left: 30px;
   padding-bottom: 20px;
}

   .guideindex_title {
   font-size: 20px;
   margin-left: 15px;
   margin-top: 15px;
   margin-bottom: 15px;
}

   a.guide_link:link , a.guide_link:visited {
   font-size: 16px;
   color: #111111;
   line-height: 22px;
}

   a.guide_link:active , a.guide_link:hover{
   text-decoration: underline;
}

    .sftracker1 {
	background-color: #ffffff;
    background-image: url(../images/sftracker1bg.png);
	background-size:100%;
	border-style: solid;
	border-color: #707070;
	border-width: 1px;
	padding: 10px;
	margin-bottom: 10px;
}

    .sftracker2 {
	background-color: #ffffff;
    background-image: url(../images/sftracker2bg.png);
    background-size: 100%;
	border-style: solid;
	border-color: #707070;
	border-width: 1px;
	padding: 10px;
	margin-bottom: 10px;
}

	.sfstatetracker {
	margin-top: 10px;
	background-color: #ffffff;
	border-style: solid;
	border-color: #707070;
	border-width: 1px;
	padding: 10px;
}

	.sfextracontent {
	font-size: 14px;
	text-align: left;
	color: #f2f2f2;
	font-weight: bold;
}

   a.linkextracontent, a.linkextracontent:visited {
	color: #111111;
	text-decoration: none;
	font-weight: normal;
	word-spacing: 0px;
}

   a.linkextracontent:active, a.linkextracontent:hover {
    color: #0564c6;
	text-decoration: underline;
}

	#addcontent_top {
	width: 655px;
	height: 36px;
    background-image: url(../images/add_content_top.png);
}

	#addcontent_middle {
    background-image: url(../images/add_content_bg.png);
	background-color: #ffffff;
	width: 100%;
	border-style: solid;
	border-bottom-width: 0px;
	border-top-width: 0px;
	border-left-width: 1px;
	border-right-width: 1px;
	border-color: black;
	font-size: 17px;
	text-align: left;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 6px;
	word-spacing: 3px;
}

    @media screen and (max-width: 767px) {
        #addcontent_middle {
            width: 95%;
            padding-left: 20px;
            line-height: 30px;
        }
    }
    
    @media screen and (max-width: 539px) {
        #addcontent_middle {
            width: 93%;
        }
    }

	#addcontent_bottom {
	width: 655px;
	height: 26px;
    background-image: url(../images/add_content_bottom.png);
}

	.submittedby {
	color: #c2c2c2;
    font-size: 12px;
}

    .mvc2redrow {
    background-color: #ffe1e1;
    padding: 2px;
}
    .mvc2greenrow {
	background-color: #dff8df;
	padding: 2px;
}

    .mvc2bluerow {
	background-color: #e1e1ff;
	padding: 2px;
}

    .mvc2titlerow {
    font-weight: bold;
    background-color: #f1f1f1;
}

    .mvc2t {
	padding: 2px;
	border-style: solid;
	border-width: 1px;
	border-color: #a6a6a6;
	text-align: center;
    width: 631px;
}

    .mvc3assists {
    border-style: solid;
    border-width: 1px;
    border-color: #a6a6a6;
    background-color: #cacaca;
    width: 631px;
}

    .sf4bio1 { border-style: solid; border-width: 1px; border-color: #1c1c1c;}
    .sf4bio2 { padding: 2px; border-style: solid; border-width: 1px; border-color: #1c1c1c; color: e9e9e9; background-color: #333333; width: 120px;}
    .sf4bio3 { padding: 2px; border-style: solid; border-width: 1px; border-color: #1c1c1c; color: e9e9e9; background-color: #000000;}

    .damagecontainer{	   
	float: right;
    width: 249px;
	height: 63px;
    background-image: url(../images/damagebg.png);
    background-repeat: no-repeat;	
	margin-top: 8px;
	margin-left: 2px;
}

    .damagecontainer2{
	float: right;
    width: 249px;
	height: 103px;
    background-image: url(../images/damagebg2.png);
    background-repeat: no-repeat;	
	margin-top: 8px;
	margin-left: 2px;
}

    .damagecontainer3{
	float: right;
    width: 91px;
	height: 52px;
    background-image: url(../images/damagebg3.png);
    background-repeat: no-repeat;	
	margin-top: 8px;
	margin-left: 2px;
}
	
    .damageblock {	   
    float: left;
    width: 54px;
    height: 30px;
    margin-top: 20px;
    margin-left: 5px;
    border: 1px;
    border-style: solid;
    border-color: #515151;	   
    text-align: center;
    font-size: 11px;
    padding-top: 3px;
}    	

    .damageblock1 {	   
    float: left;
    width: 54px;
    height: 17px;
    margin-top: 20px;
    margin-left: 19px;
    border: 1px;
    border-style: solid;
    border-color: #515151;	   
    text-align: center;
    font-size: 11px;
    padding-top: 3px;
}    	

    .damageblock2 {	   
    float: left;
    width: 54px;
    height: 30px;
    margin-top: 20px;
    margin-left: 66px;
    border: 1px;
    border-style: solid;
    border-color: #515151;	   
    text-align: center;
    font-size: 11px;
    padding-top: 3px;
}    	

    .damageblock3 {	   
    float: left;
    width: 54px;
    height: 30px;
    margin-top: 20px;
    margin-left: 37px;
    border: 1px;
    border-style: solid;
    border-color: #515151;	   
    text-align: center;
    font-size: 11px;
    padding-top: 3px;
}    	

    .damageblock5 {	   
    float: left;
    width: 54px;
    height: 30px;
    margin-top: 5px;
    margin-left: 66px;
    border: 1px;
    border-style: solid;
    border-color: #515151;	   
    text-align: center;
    font-size: 11px;
    padding-top: 3px;
}    	

    .damageblock6 {	   
    float: left;
    width: 54px;
    height: 30px;
    margin-top: 5px;
    margin-left: 37px;
    border: 1px;
    border-style: solid;
    border-color: #515151;	   
    text-align: center;
    font-size: 11px;
    padding-top: 3px;
}    	

    .damageblockalt {	   
    float: left;
    width: 54px;
    height: 30px;
    margin-top: 5px;
    margin-left: 5px;
    border: 1px;
    border-style: solid;
    border-color: #515151;	   
    text-align: center;
    font-size: 11px;
    padding-top: 3px;
}    	

    .headerspacer {
    width: 655px;
    height: 1px;
    border-top-width: 1px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-style: solid;
    border-color: #8f8f8f;    
	margin-bottom: 20px;
	display: block;
 }
 
   .contentspacer {
    width: 655px;
    height: 15px;
    background-repeat: no-repeat;	
	margin-bottom: -3px;   
	padding-top: 5px;	
	display: block;
}

  .guide_title {
    font-size: 1.75em;
    padding-left: 10px;
    padding-bottom: 15px;
    font-style: italic;
}

  .move_name {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
    line-height: 25px;
}

  .propbox img {
    vertical-align: middle;
    padding-left: 2px;
}

  .damagebox0 {
    float: left;
    height: 40px;
    padding: 10px;
}

  .damagebox1 {
    float: left;
    height: 33px;
    width: auto;
    padding-top: 7px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    font-size: 11px;
    border-style: solid;
    border-color: black;
    border-left-width: 1px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
}

  .combobox1 {
  float: left;
  width: 631px;
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
  background-color: #1e0b0f;
  background-image: url(../images/ncomboboxbg.png); 
}

  .combobox2 {
  float: left;
  width: 631px;
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
  background-color: #1e0b0f;
  background-image: url(../images/ncomboboxbgalt.png); 
}
  
  .combobox1 img {
  vertical-align: middle;
}  

  .combobox2 img {
  vertical-align: middle;
}  

  .normal img {
  vertical-align: middle;
}  

  .linkbox img {
  vertical-align: middle;
}  

  
  .linkbox {
  float: left;
  font-size: 10px;  
  background-color: transparent;  
  background-image: url(../images/nlinkboxbg.png);   
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-top: 6px;  
  text-align: center;
  height: 49px;
}  

  .jumpbox {
  float: left;
  font-size: 10px;  
  background-color: transparent;  
  background-image: url(../images/airboxbg.png);   
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-top: 6px;  
  text-align: center;
  height: 49px;
}  

  .jumptext {
  font-family: Arial;
  font-size: 14px;
}   

  .combodamage {
  float: right;
  font-family: Arial;
  font-size: 15px;
  background-color: #dedddf;
  border-color: #a6a6a6;
  border-style: solid;
  border-top-width: 1px;  
  border-bottom-width: 1px;  
  border-left-width: 1px;  
  border-right-width: 0px;  
  padding-right: 10px;
  padding-left: 10px;  
  padding-top: 8px;
  text-align: center;
  line-height: 24px;
  height: 52px;  
  -moz-box-shadow: 0px 1px 2px #888888;
  -webkit-box-shadow: 0px 1px 2px #888888;
  box-shadow: 0px 1px 2px #888888;  
}  

  .combodamage2 {
  float: right;
  font-family: Arial;
  font-size: 15px;
  background-color: #dedddf;
  border-color: #a6a6a6;
  border-style: solid;
  border-top-width: 1px;  
  border-bottom-width: 1px;  
  border-left-width: 1px;  
  border-right-width: 0px;  
  padding-right: 10px;
  padding-left: 10px;  
  padding-top: 30px;
  margin-top: -60px;
  text-align: center;
  line-height: 24px;
  height: 84px;  
  -moz-box-shadow: 0px 1px 2px #888888;
  -webkit-box-shadow: 0px 1px 2px #888888;
  box-shadow: 0px 1px 2px #888888;    
} 

  .combodamage2fix {
  float: right;
  font-family: Arial;
  font-size: 15px;
  background-color: #dedddf;
  border-color: #a6a6a6;
  border-style: solid;
  border-top-width: 1px;  
  border-bottom-width: 1px;  
  border-left-width: 1px;  
  border-right-width: 0px;  
  padding-right: 10px;
  padding-left: 10px;  
  padding-top: 30px;
  margin-top: -55px;
  text-align: center;
  line-height: 24px;
  height: 84px;  
  -moz-box-shadow: 0px 1px 2px #888888;
  -webkit-box-shadow: 0px 1px 2px #888888;
  box-shadow: 0px 1px 2px #888888;    
} 

  .combodamage3 {
  float: right;
  font-family: Arial;
  font-size: 15px;
  background-color: #dedddf;
  border-color: #a6a6a6;
  border-style: solid;
  border-top-width: 1px;  
  border-bottom-width: 1px;  
  border-left-width: 1px;  
  border-right-width: 0px;  
  padding-right: 10px;
  padding-left: 10px;  
  padding-top: 50px;
  margin-top: -100px;
  text-align: center;
  line-height: 24px;
  height: 94px;  
  -moz-box-shadow: 0px 1px 2px #888888;
  -webkit-box-shadow: 0px 1px 2px #888888;
  box-shadow: 0px 1px 2px #888888;    
} 

  .combolinespace {
  float: left;
  margin-top: -15px;
  display: block;
} 
  
  .normal {
  float: left;
  font-family: Arial;
  font-size: 14px;
  margin-top: 30px;
  margin-left: 7px;  
  margin-right: 7px;    
}   

  .larger {
  font-family: Arial;
  font-size: 20px;
  vertical-align: text-top;
}   

  .combonotes {
  float: left;
  width: 621px;
  background-color: #e0dde3;
  border-color: #a6a6a6;
  border-style: solid;
  border-top-width: 1px;  
  border-bottom-width: 0px;  
  border-left-width: 0px;  
  border-right-width: 0px;  
  display: block;
  padding: 5px;
  font-size: 11px;  
  -moz-box-shadow: 0px 1px 2px #888888;
  -webkit-box-shadow: 0px 1px 2px #888888;
  box-shadow: 0px 1px 2px #888888;    
}   

  .bigcredit {
  font-size: 16px;  
  font-style: italic;
}   

  .footnotes {
  font-size: 11px;  
  margin-left: 50px;
}   

  .frameco { 
    padding: 2px; 
    border-style: solid;
    border-width: 1px;
    border-color: #a6a6a6;
    font-family: Arial;
    height: 35px;
}

  .framedtable {
    width: 655px;
    border: 1px solid #a6a6a6;
    margin-left: -1px;
    font-family: Arial;
    font-size: 11px;
    text-align: center;   
    background-color: #e6e4d9;
    margin-bottom: 15px;
}

@media screen and (max-width: 767px) {
    .framedtable, .framedtable tbody {
        width: 100%;
    }

    .framedtable tr, .frameco {
        display: block;
        padding: 0;
        text-align: center;
        font-size:12.5px;
        white-space: normal;
        width:100%;
    }

    .framedtable tr:nth-child(1) {
        display: none;
    }
    
    .framedtable tr:last-child {
        display: none;
    }

    .frameco:nth-child(1) {
        background-color:#C0C0C0;
    }
    
    .frameco:nth-child(12) {
        border-bottom: 2px solid;
    }

        /*---background-color:#FF0000;---*/

    .frameco:nth-child(1):before {
        font-weight:bold;
        content: "Move: ";
    }

    .frameco:nth-child(2):before {
        font-weight:bold;
        content: "Block: ";
    }

    .frameco:nth-child(3):before {
        font-weight:bold;
        content: "Damage: ";
    }

    .frameco:nth-child(4):before {
        font-weight:bold;
        content: "Stun: ";
    }

    .frameco:nth-child(5):before {
        font-weight:bold;
        content: "Meter Gain: ";
    }

    .frameco:nth-child(6):before {
        font-weight:bold;
        content: "Cancel Ability: ";
    }

    .frameco:nth-child(7):before {
        font-weight:bold;
        content: "Startup: ";
    }

    .frameco:nth-child(8):before {
        font-weight:bold;
        content: "Active: ";
    }

    .frameco:nth-child(9):before {
        font-weight:bold;
        content: "Recover: ";
    }

    .frameco:nth-child(10):before {
        font-weight:bold;
        content: "Frame Adv. Block: ";
    }

    .frameco:nth-child(11):before {
        font-weight:bold;
        content: "Frame Adv. Hit: ";
    }

    .frameco:nth-child(12):before {
        font-weight:bold;
        content: "Notes: ";
    }
    
    .frameco:nth-child(12){
        height: 50px;
    }
    
    .frameco:hover {background-color: #ffffff;}
    .frameco .initial {color:#ffffff;}
}

    @media screen and (min-width: 767.1px) {
        .framedtable tr:hover {background-color: #ffffff;}  
        .framedtable .initial {color:#ffffff;}
    }

	#additionalcontent {
	font-family: Arial;
	background-color: #881175;
	width: 599px;
	font-size: 14px;
	text-align: left;
	color: #f2f2f2;
	font-weight: bold;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 16px;
	word-spacing: 6px;
	margin-bottom: 20px;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;    
	-webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px; 
    border-color: black;
    border-style: solid;
	border-left-width: 1px;
	border-right-width: 1px;
	border-top-width: 0px;
	border-bottom-width: 1px;		
    -moz-box-shadow: 1px 2px 2px #000;
    -webkit-box-shadow: 1px 2px 2px #000;
    box-shadow: 1px 2px 2px #000;
}

  .gholder1 {
    float: left;
    width: 100%;
    box-sizing: border-box;
    border-color: #a9a9a9;
    border-style: solid;
    border-width: 1px;
    background-image: url(../images/gholder1_bg.png);
    background-repeat: repeat-y;
    background-position: left top;
    background-color: #e4e6e0;
	margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
	-moz-border-radius: 30px;
    -webkit-border-radius: 30px;
	border-radius: 30px;
    -moz-box-shadow: 1px 1px 2px #888888;
    -webkit-box-shadow: 1px 1px 2px #888888;
    box-shadow: 1px 1px 2px #888888;    
}

  .rightRailWidget{
    float: right;
    width: 300px;
    box-sizing: border-box;
    border-color: #a9a9a9;
    border-style: solid;
    border-width: 1px;
    background-image: url(../images/gholder1_bg.png);
    background-repeat: repeat-y;
    background-position: left top;
    background-color: #e4e6e0;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    -moz-box-shadow: 1px 1px 2px #888888;
    -webkit-box-shadow: 1px 1px 2px #888888;
    box-shadow: 1px 1px 2px #888888; 
  }

  .gholder2 {
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #e7e5de;
    border-color: #a9a9a9;
    border-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
    padding-top: 15px;
    padding-bottom: 10px;    
   	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
	border-radius: 10px;    
    margin-bottom: 15px;
}

  .gholder3 {
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #e5e2de;
    border-color: #a9a9a9;
    border-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
    padding-top: 15px;
    padding-bottom: 10px;    
   	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
	border-radius: 10px;    
    margin-bottom: 15px;
}

 .nholder2 {
    float: left;
	width: 100%;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #dddacf;
    border-color: #a9a9a9;
    border-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
    padding-top: 15px;
    padding-bottom: 10px;    
   	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
	border-radius: 10px;    
}

  .nholder3 {
    float: left;
    width: 633px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #dddad6;
    border-color: #a9a9a9;
    border-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
    padding-top: 15px;
    padding-bottom: 10px;    
   	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
	border-radius: 10px;    
}

  .gholder2  .propbox {
    float: left;
    height: 24px;
    font-size: 14px;
    background-color: #edeadb;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
}

  .gholder2 .damagebox {
    float: left;
    height: 40px;
    font-size: 14px;
    background-color: #edeadb;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin-bottom: 5px;
}

  .gholder3 .propbox {
    float: left;
    height: 24px;
    font-size: 14px;
    background-color: #f4ece4;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
}

  .gholder3 .damagebox {
    float: left;
    height: 40px;
    font-size: 14px;
    background-color: #f4ece4;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin-bottom: 5px;
}

  .gholder2  .blockbox {
    float: left;
    height: 24px;
    font-size: 14px;
    background-color: #ede9d5;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
}

  .gholder3 .blockbox {
    float: left;
    height: 24px;
    font-size: 14px;
    background-color: #f2eae2;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
}

  .blockbox img {
    vertical-align: middle;
    padding-left: 2px;
}

    a.procom:link , a.procom:visited{
    color: #05408f;
	font-weight: bold;
	text-decoration: none;
}

   a.procom:active, a.procom:hover {
    color: #021f45;
	text-decoration: underline;
}

  .guide_title2 {
    font-size: 1.50em;
    padding-left: 10px;
    padding-bottom: 15px;
    font-style: italic;
}

@media only screen and (max-width: 539px) {
	#editAvatar1{
	   width: 280px !important;
       height: 280px !important;
	}
}